@font-face {
    font-family: 'Caveat-Bold';
    src: url('../fonts/Caveat/static/Caveat-Bold.ttf') format('truetype');
  }

body {
    font-family: 'Rubik', sans-serif !important;
    max-width: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.background {
    background-image: url('../images/trees.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height: 800px;
}

.navbar-expand-lg .navbar-nav {
    font-family: Arial, Helvetica, sans-serif;
}

.nav-link {
    margin-left: 5px!important;
    margin-right: 5px !important;
}

.colour-white, .btn-white {
    color: white !important;
}

.colour-black {
    color: black !important;
}

.bold {
    font-weight: bold;
}

#contact-btn {
    border: solid 2px white;
}

#contact-btn:hover {
    background-color: #c4747f;
    transition: 0.8s;
    color: white;
}

.caveat-font {
    font-family: 'Caveat-Bold';
}

.arial-font {
    font-family: Arial, Helvetica, sans-serif;
}

.rubik-font {
    font-family: 'Rubik', sans-serif;
}

/* INDEX PAGE */

#center-jumbotron {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

hr.end-header {
    height: 0px;
    border: none;
    border-top: 0.0625rem solid white;
    width: 120px;
}


.full-width {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}

/* Fix margin as images displaying on the left - solved here https://stackoverflow.com/questions/33130035/how-can-i-center-items-in-slick-carousel/33132939 */
.slider-img {
    max-height: 600px;
    width: auto;
    margin: 0 auto;
}

/* arrows wouldn't show - found solution here https://kenwheeler.github.io/slick/ */
.slick-prev:before,
.slick-next:before {
color: black !important;
}

#map {
    /*overflow: visible !important;
    position: inherit !important;*/
    height: 400px;
    width: 100%
}

/* CONTACT FORM */

#center-contact-form {
	justify-content: center;
}

.btn-dark {
    border: solid 2px black;
}

/* HUT DETAIL PAGE */

/* Created a wider modal using this https://stackoverflow.com/questions/25859255/trying-to-make-bootstrap-modal-wider */
@media (min-width: 768px) {
  .modal-xl {
    height: auto;
    width: 80%;
    max-width: 1200px;
  }
}

.availability-calendar-toolbar {
    margin-bottom: 0.65rem;
}

.footer {
    /*background: #81ccfb;*/
    padding: 3em;
    left: 0;
    right: 0;
    bottom: 0;
}